/*
Global colors
Blue  - #8ed1fc
Black - #000000
*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:sans-serif;
}

body{
    background-color: black;
    color: #8ed1fc;
}

.text-primary{
    color: #8ed1fc;
}

.header{
    width: 95%;
    height: 80px;
    display: block;
    background-color: black;
    margin: 0 auto;
    color: #8ed1fc;
}

.header a{
    text-decoration: none;
}

.header a:hover{
    text-decoration: underline;
    text-decoration-color: #8ed1fc;
}

.header a:visited{
    color: #8ed1fc;
}

.header .logo_container{
    height: 100%;
    display: table;
    float: left;
}

.header .logo_container h1{
    height: 100%;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 15px;
    font-weight: 800;
}

.header .navigation{    
    height: 100%;
    display: table;
    float: left;    
    padding-left: 10px;
}

.header .navigation li{
    display: table-cell;
    font-size: 17px;
    padding: 0px 10px;
    vertical-align: bottom;
    padding-bottom: 20px;
}

.header .search-container{
    float: right;
    height: 100%;
    margin-top: 20px;
}

.header .search-container input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid #8ed1fc;
    background-color: black;
    color: #8ed1fc;
    height: 40px;
}

.header .search-container button {
    float: right;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    background: #8ed1fc;
    border: 1px solid #8ed1fc;
    cursor: pointer;
}

.header .search-container button:hover {
    background: black;
    border: 1px solid #8ed1fc;
    color: #8ed1fc;
}

.header .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 24
}